extends layout.pug

mixin feature-card(icon, title, description)
  .flex.items-center
    div.p-3.bg-green-100.rounded-full.flex.items-center.mr-4: span.material-icons-round.text-green-800= icon
    div.flex.flex-col
      p.font-semibold.mb-1= title
      p.text-xs.sm_max-w-xs= description

mixin places-slide(name, summary, image)
  li.splide__slide.grid.grid-cols-1.gap-2.md_grid-cols-2.md_gap-0
    .flex.flex-col.md_col-start-2.md_col-span-1.md_col-row-1
      div.block.border-b-2.border-green-800.mb-2.mr-14.md_mr-0.md_pl-10.md_w-max
        p.font-serif.text-lg= name
      p.text-sm.md_pl-10= summary
    img.w-full.h-full.object-cover.md_col-start-1.md_col-span-1.md_row-start-1(src= image, alt="")

mixin events-slide(title, image)
  li.splide__slide
    .splide__slide__container
      img(src= image, alt="")
    h1.font-serif.mt-2= title

block content
  //- Hero
  section.hero.bg-center.bg-cover.bg-no-repeat.p-2.flex.flex-col.items-center.justify-between.text-white
    div
    .flex.flex-col.items-center
      p.text-center.uppercase.text-3xl.font-semibold Welcome To
      p.text-center.uppercase.text-5xl.font-bold.font-serif.mt-4.mb-1 West Bengal
      div.w-48.h-1.bg-white
    div

  //- Something IDK
  section.px-4.py-10.grid.grid-cols-1.gap-3.md_grid-cols-2.md_gap-0.lg_px-14
    //- Text
    div.text-gray-700
      div.border-b-2.border-green-600.mr-24.mb-2.md_mr-0
        p.uppercase.font-semibold.font-serif.text-xl.w-48 About this land
      p.font-semibold.text-sm.text-green-800.mb-8 Lorem ipsum dolor sit amet.
      p.text-sm.max-w-sm The limitless irresistible features comprises of unwind rich history, heritage architecture, finery arts and crafts, vibrant folk festivals, music-theatre-drama, traditional celebrations, delicious cuisines and ethnic specialties which is magical about this land. Adding to its lure numerous great works has taken birth here since immemorial time in the form of unforgettable lyrics, poetry, art, prose. It has witnessed ultimate vision and inspiration being the home to legendary saints, preachers, poets, thinkers, freedom fighters, singers, sportsmen, film-makers, scientists, academicians and is crowned as the cultural and intellectual hub since pre-colonial times.
    //- Image
    img.w-full.h-full.object-cover(src="./assets/images/tiger_hill.jpg", alt="")

  //- Why Visit Bengal
  section.px-4.py-10.text-gray-700.bg-green-50.flex.flex-col.items-center.lg_px-14
    h1.uppercase.font-bold.font-serif.text-2xl.text-center.mb-1 Why Visit Bengal
    p.font-semibold.text-sm.text-green-800.mb-6 Lorem ipsum dolor sit amet consectetur adipisicing.
    .grid.grid-cols-1.gap-3.md_grid-cols-2
      //- Feature 1
      +feature-card("cloud", "Climate", "Climate is transitional between tropical wet-dry in the southern portions and humid subtropical in the north.Spring is considered the most pleasant season over the plains.")
      +feature-card("group", "Culture", "Culture in WB which has its roots in the Bengali literature, music, fine arts, drama and cinema. Kolkata—as the former capital of India—was the birthplace of modern Indian literary and artistic thought,and is referred to as the Cultural Capital of India.")
      +feature-card("temple_hindu", "Festival", "West Bengal celebrates many holidays and festivals.The Bengali proverb “Baro Mase Tero Parbon” or “Thirteen festivals in twelve months” indicates the abundant of festivity in the state.In West Bengal throughout the year many festivals are celebrated.Durga Puja is solemnized as perhaps the most significant of all celebrations in West Bengal.")
      +feature-card("terrain", "Geographical Landscape", "It has significant architectural and natural heritage.The state encompasses two broad natural regions:the Gangetic Plain in the south and the sub-Himalayan and Himalayan area in the north")
      +feature-card("restaurant_menu", "Cuisine", "Rice and fish are traditional favourite foods.Sweets occupy an important place in the diet of Bengalis and at their social ceremonies.It is an ancient custom among both Hindu and Muslim Bengalis to distribute sweets each other during festivities")

  //- Places To Visit
  section.px-4.py-10.text-gray-700.flex.flex-col.items-center.lg_px-14
    h1.uppercase.font-bold.font-serif.text-2xl.text-center.mb-1 Places To Visit
    p.font-semibold.text-sm.text-green-800.mb-6 Lorem ipsum dolor sit amet consectetur adipisicing.
    .splide.w-full
      .splide__slider
        .splide__arrows
          button.splide__arrow.splide__arrow--prev: span.material-icons-round arrow_back_ios
          button.splide__arrow.splide__arrow--next: span.material-icons-round arrow_forward_ios
        .splide__track
          ul.splide__list
            +places-slide("Dakshineswar, Kolkata", "Dakshineswar is a locality in the North 24 Parganas under the jurisdiction of Kolkata Metropolitan Development Authority. This place is historically famous for the great temple of Goddess Kali, locally known as Maa Bhabatarini Mandir.", "./assets/images/places/dakshineswar.jpg")
            +places-slide("Darjeeling", "Darjeeling is a town in India's West Bengal state, in the Himalayan foothills. Once a summer resort for the British Raj elite, it remains the terminus of the narrow-gauge Darjeeling Himalayan Railway, or “Toy Train,” completed in 1881. It's famed for the distinctive black tea grown on plantations that dot its surrounding slopes. Its backdrop is Mt. Kanchenjunga, among the world’s highest peaks.", "./assets/images/places/darjeeling.jpg")
            +places-slide("Hazarduari, Mursidabad", "Hazarduari Palace, earlier known as the Bara Kothi, is located in the campus of Kila Nizamat in Murshidabad, in the Indian state of West Bengal. It is situated near the bank of river Ganga.", "./assets/images/places/hazarduari.jpg")
            +places-slide("The Howrah Bridge, Kolkata", "The Howrah Bridge is a balanced cantilever bridge over the Hooghly River in West Bengal, India. Commissioned in 1943, the bridge was originally named the New Howrah Bridge, because it replaced a pontoon bridge at the same location linking the two cities of Howrah and Kolkata.", "./assets/images/places/howrah_bridge.jpg")
            +places-slide("Prinsep Ghat, Kolkata", "Located between the Water Gate and the St George's Gate of the Fort William, the monument to Prinsep is rich in Greek and Gothic inlays. It was restored by the state's public works department in November 2001 and has since been well-maintained.[1] In its initial years, all royal British entourages used the Prinsep Ghat jetty for embarkation and disembarkation.", "./assets/images/places/princep_ghat.jpg")
            +places-slide("The Victoria Memorial, Kolkata", "The Victoria Memorial is a large marble building in Kolkata, which was built between 1906 and 1921. It is dedicated to the memory of Empress Victoria, and is now a museum under the auspices of the Ministry of Culture. The memorial lies on the Maidan and is one of the famous monuments of Kolkata.", "./assets/images/places/victoria_memorial.jpg")
            //- +places-slide("Destination #1", "summary", "./assets/images/bitmap.png")
  //- Ad placement
  section.ad.h-56.w-full.bg-cover.bg-center.bg-no-repeat.p-8.flex.flex-col.justify-end.text-white
    p.uppercase.font-serif.font-bold.text-lg.mb-1 Lorem ipsum dolor sit.
    p.text-sm.md_max-w-sm Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, quisquam!
  //- Events
  section.px-4.py-10.text-gray-700.flex.flex-col.items-center.lg_px-14
    h1.uppercase.font-bold.font-serif.text-2xl.text-center.mb-1 Events to Enjoy
    p.font-semibold.text-sm.text-green-800.mb-6 Lorem ipsum dolor sit amet consectetur adipisicing.
    .splide.events.w-full
      .splide__slider
        .splide__track
          ul.splide__list
            +events-slide("Durga Puja", "./assets/images/events/durga_puja.jpg")
            +events-slide("Rath Yatra", "./assets/images/events/rath_yatra.jpg")
            +events-slide("Basanta Utsab", "./assets/images/events/basanta_utsab.jpg")
            +events-slide("Jagadhatri Puja", "./assets/images/events/jagadhatri_puja.jpg")
            +events-slide("Kolkata Book Fair", "./assets/images/events/kolkata_book_fair.jpg")

  //- Discover More
  section.px-4.py-10.text-gray-700.flex.flex-col.items-center.lg_px-14
    h1.uppercase.font-bold.font-serif.text-2xl.text-center.mb-1 Discover More
    p.font-semibold.text-sm.text-green-800.mb-6 Lorem ipsum dolor sit amet consectetur adipisicing.
    .w-full.grid.grid-cols-1.gap-3.sm_grid-cols-2.md_grid-cols-3
      //- Nature
      a.nature.h-52.w-full.bg-center.bg-cover.bg-no-repeat.flex.flex-col.justify-end.p-4(href="#")
        p.font-serif.text-white.text-xl Nature
      //- Foods
      a.foods.h-52.w-full.bg-center.bg-cover.bg-no-repeat.flex.flex-col.justify-end.p-4(href="#")
        p.font-serif.text-white.text-xl Food &amp; Cuisine
      //- Heritage
      a.heritages.h-52.w-full.bg-center.bg-cover.bg-no-repeat.flex.flex-col.justify-end.p-4(href="#")
        p.font-serif.text-white.text-xl Arts and Crafts
